$zIndex: 99;
$backGroundColor: #000;
$textColor: #fff;
// 菜单层级修改
.n-layout-sider {
  z-index: $zIndex;
}
.n-layout {
  color: $textColor;
}
.n-layout-scroll-container {
  background-color: $backGroundColor;
}
.n-layout .n-layout-scroll-container {
  overflow: hidden;
}
